/*Font for the entire app*/
body, html {
  font-family: 'Montserrat', sans-serif !important;
}
/*Map container*/
#viewDiv {
  position: absolute;
  top: 0;
  bottom: 0;        
  padding: 0;
  margin-top: 56px;        
  width: 100%;
}
/*Navbar height*/
.navbar {
  height: 56.5px;  
}
/*Main Navbar Title and Logo*/
.navbar-brand {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;    
}
/*Navbar links*/
.navbar-light .navbar-nav .nav-link {
  color: #d9dde0;
  font-size: 13px;
}

.navbar-light .navbar-nav .nav-link:visited {
  color: #d9dde0;  
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;  
}

#search {
  width: 50%;
  border-radius: 5px 0px 0px 5px;
   box-shadow: 0 0px 2px rgb(0 0 0 / 30%);
}
/*Search bar drop downmenu*/
#searchtype {  
  z-index: 2;
  width: 15%;
  border-radius: .0rem .0rem .0rem .0rem;
   box-shadow: 0 0px 2px rgb(0 0 0 / 30%);
}

#searchtype:focus {
  box-shadow: 0px 0px 0px;
    border-color: #8c1d40;
    outline: 0px
}

/*Navbar link color*/
.navbar-light .navbar-brand {
  color: white;
}

/*Navbar link color*/
.navbar-light .navbar-brand:visited {
  color: white;
}

/*Navbar background color*/
.bg-light {
  background: #292929 !important;
  border-bottom: solid 2px black;
}        
/*Search bar container*/
.container {
    position: absolute;
    width: 60%;
    top: 15px;
    left: 45px;    
}

.btn:hover {
    color: #fff
}
/*Search bar text*/
.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #8c1d40;
    outline: 0px
}

.form-control {
    border: 1px solid  #8c1d40
    z-index: 999999999;
}
/*Search bar buttons*/
.btn-outline-warning {
  color: #fff;
  border-color: #8c1d40;
  background-color: #8c1d40;
   box-shadow: 0 0px 2px rgb(0 0 0 / 30%);
}

.btn-outline-warning:hover {
  color: #fff;
  border-color: #D23153;
  background-color: #D23153;
}

#close {
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.navbar-brand {
  position: absolute;       
  left: 0;        
}

.navbar-light .navbar-brand:hover {
  color: white;      
}
/*Advanced search button*/
#advancedBtn {
  background-color: #8c1d40;
  border-color: #8c1d40;
}
 /*Download button*/
.btn-outline-success {
  display: inline-block;
  margin-left: 15px;
  color: #8c1d40;
  border-color: #8c1d40;
}

.btn-outline-success:hover {  
  background-color: #8c1d40;
  border-color: #8c1d40;  
}

#tablebtn {
  width: 50%;
  font-size: 10px;
  color: white;  
  border-radius: 0px;
  padding: 12px;
  background-color: #8c1d40;
  border-color:#8c1d40;  
}

#tablebtn:hover {
  border-color: #D23153;
  background-color: #D23153
}

.esri-widget {
  font-family: 'Montserrat', sans-serif;
}

.maroon {
  color: #8c1d40;
}
/*Information Modal*/ 
#infoModal .modal-dialog{
  overflow-y: initial !important
}
#infoModal .modal-body{
  height: 80vh;
  overflow-y: auto;
}

#infoModal {
  border-radius: 0px;
  z-index: 999999999999999999999999999999999999999999999999999999999;
}

#viewerModal {
  border-radius: 0px;
  z-index: 999999999999999999999999999999999999999999999999999999999;
}

#advancedModal {
  border-radius: 0px;
  z-index: 999999999999999999999999999999999999999999999999999999999;
}
#drawers-table .tabulator-selected {
  background-color: #D23153 !important;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*.modal {
    pointer-events: none;
}
.modal-backdrop {
    display: none;
}*/

/*ESRI Popup CSS*/
body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container {
    width: 296px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    padding-bottom: 55px;
}

body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container .esri-popup__footer.esri-popup__footer--has-actions .esri-popup__inline-actions-container {
    margin: 15px;
    margin-top: 0;
    width: 100%;
    margin-bottom: 8px;
}

body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container .esri-popup__footer.esri-popup__footer--has-actions .esri-popup__button.esri-popup__action {
    height: 35px;
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.71429em;
    text-transform: uppercase;
    color: #6aa23f;
    background: none;
    border: solid 1px #6aa23f;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0;
    line-height: 35px;
    margin-top: 10px;
}

#viewDiv .esri-popup__inline-actions-container:only-child > .esri-popup__action {
  max-width: none;
}

.esri-popup__inline-actions-container>.esri-popup__action, .esri-popup__inline-actions-container>.esri-popup__action-toggle {
  flex: 0 1 auto;
}

.esri-popup__footer .esri-popup__button {
    font-weight: 500;
    font-size: 12px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
}

body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container .esri-popup__footer.esri-popup__footer--has-actions {
    bottom: 0;
    top: auto;
    position: absolute;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.esri-popup__header-title {
  text-align: left;
}

h7 {
  font-size: 12px;
}

.responsive {
  width: 100%;
  height: auto;
}

.thumbdisplay {
  width: 100%;
  height: auto;
  cursor: pointer;
}

#image {
  display: none;
}

#maxResults {
  color: #8c1d40;
  font-size: 12px;
} 

#results {
  color: white;
  font-size: 16px;
}

#drawerTitle {
  color: white;
  font-size: 16px;
  max-width:300px;
  word-wrap:break-word;
}

.previous {
  background-color: white;
  color: #6aa23f;  
  float: left;  
}

.next {
  background-color: white;
  color: #6aa23f;
  float: right;
}

.round {
  border-radius: 0;
  padding: 2px;
  border: solid 1px #6aa23f;
}
@media only screen and (max-width: 600px) {
  body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container {
    width: 100%;       
  }

  #search {
    width: 50%;
    border-radius: 5px 0px 0px 5px;   
  }

  #searchtype {  
    z-index: 2;
    width: 15%;
    border-radius: .0rem .0rem .0rem .0rem;    
  }

  .container {
    position: absolute;
    width: 90%;
    top: 15px;
    left: 45px;    
  }  
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #292929; 
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 10px; /*60px Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  margin-top: 56px;
  overflow-wrap: break-word;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: -8;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;  
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#viewDiv {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;  
}

@media only screen and (max-device-width: 1200px){
  /*Search bar container*/
.container {
    position: absolute;
    width: 90%;
    top: 15px;
    left: 45px;
}
}

